* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-weight: 300;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, div, nav, button, figure, picture, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-gray);
}

.title h3 {
  color: var(--blue);
  font-size: 28px;
  font-weight: bold;
  position: relative;
}

:root {
  --bg-gray: #E6E6E6;
  --white: #fff;
  --orange: #E67E22;
  --blue: #3498DB;
  --black: #000;
  --menu-gray: #6b6b6be1;
  --menu-gray-hover: #ccccccee;
  --space: 20px;
  --border-radius: 5px;
  --border-cards: 10px;
}

.course {
  margin: 20px;
  width: 270px;
  height: 360px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
}
.course img {
  border-radius: var(--border-cards);
}
.course .coursename {
  position: absolute;
  width: 270px;
  height: 70px;
  background-color: #3498DBCC;
  z-index: 2;
  justify-content: end;
  object-fit: cover;
  bottom: 0;
  border-radius: 0 0 var(--border-cards) var(--border-cards);
}
.course .coursename span {
  color: var(--black);
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}
.course:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.03);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.course:hover .coursename {
  background-color: #3498DB;
}
.course:hover .coursename span {
  color: var(--white);
}

@media (min-width: 768px) {
  .course {
    margin: 40px;
  }
}
.news {
  width: 300px;
  height: auto;
  background-color: var(--white);
  margin-top: var(--space);
  border-radius: var(--border-cards);
  flex-direction: column;
}
.news img {
  width: 300px;
  border-radius: var(--border-cards) var(--border-cards) 0 0;
}
.news .textnews {
  flex-direction: column;
  justify-content: space-around;
}
.news .textnews h5 {
  font-size: 20px;
  margin: var(--space);
  font-weight: bold;
  padding: 0;
}
.news .textnews span {
  margin: var(--space);
}
.news .textnews .newdate {
  margin: 0 var(--space) var(--space) 0;
  padding: 0;
  text-align: right;
}

@media (min-width: 1200px) {
  .news {
    width: 1000px;
    height: 180px;
    background-color: var(--white);
    margin-top: var(--space);
    border-radius: var(--border-cards);
    flex-direction: row;
  }
  .news img {
    border-radius: var(--border-cards) 0 0 var(--border-cards);
  }
  .news .textnews {
    flex-direction: column;
  }
  .news .textnews h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 0 20px;
    padding: 0;
    z-index: 3;
  }
  .news .textnews span {
    margin: var(--space) var(--space) 0 var(--space);
    z-index: 3;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 100px;
  justify-content: center;
}
.header > div {
  width: 100%;
  height: 100px;
  max-width: 1366px;
  justify-content: space-between;
}
.header > div .menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: -100vw;
  background-color: var(--menu-gray);
  justify-content: center;
  align-items: flex-start;
  outline: none;
  transition: all 0.3s cubic-bezier(0.52, 0.16, 0.24, 1);
  z-index: 4;
}
.header > div .menu .close-menu {
  position: absolute;
  top: var(--space);
  right: var(--space);
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.header > div .menu .close-menu svg {
  width: 100%;
  height: 45px;
}
.header > div .menu .menu-wrap {
  width: 210px;
  height: 400px;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header > div .menu .menu-wrap .btn-m {
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
  text-transform: initial;
  font-size: 16px;
  background-color: var(--blue);
  z-index: 10;
}
.header > div .menu .menu-wrap .btn-m:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
.header > div .menu .menu-wrap .btn-m:active {
  background-color: #d35400;
}
.header > div .menu .menu-wrap .btn-m:hover {
  background-color: #74b9ff;
  box-shadow: 4px 4px 8px -6px var(--black);
}
.header > div .menu .menu-wrap .btn-m:active {
  background-color: #0984e3;
}
.header > div .menu .menu-wrap > div a {
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
}
.header > div .menu .menu-wrap > div a:hover {
  color: var(--blue);
}
.header > div .menu .menu-wrap button {
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
  text-transform: initial;
  font-size: 16px;
  background-color: var(--blue);
  position: relative;
}
.header > div .menu .menu-wrap button:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
.header > div .menu .menu-wrap button:active {
  background-color: #d35400;
}
.header > div .menu .menu-wrap button:hover {
  background-color: #74b9ff;
  box-shadow: 4px 4px 8px -6px var(--black);
}
.header > div .menu .menu-wrap button:active {
  background-color: #0984e3;
}
.header > div .open-menu {
  position: absolute;
  top: var(--space);
  right: var(--space);
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.header > div .open-menu img {
  width: 40px;
}
.header > div .logo {
  position: absolute;
  height: 200px;
  top: var(--space);
  left: calc(50% - 75px);
  z-index: 10;
}
.header > div .logo a img {
  width: 150px;
}
.header hr {
  position: absolute;
  margin: 0;
  border: none;
  width: 100%;
  top: 100px;
  border-bottom: var(--black) 1px solid;
}

#header-home {
  position: absolute;
  z-index: 3;
  background-color: initial;
}

.menu-open > div .menu {
  right: 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.whatsapp {
  height: 75px;
  width: 75px !important;
  background-color: #5ed04466;
  position: fixed;
  right: 0;
  margin-top: 200px;
  z-index: 3;
  border-radius: 10px 0 0 10px;
  align-items: center;
  justify-content: center;
}
.whatsapp:hover {
  background-color: #5ed044;
}
.whatsapp > img {
  width: 70px;
  margin-right: 0;
  padding: 5px;
}

@media (min-width: 768px) {
  .header > div .menu {
    position: relative;
    height: initial;
    width: 100%;
    height: 100%;
    right: initial;
    background-color: initial;
    margin-right: var(--space-mobile);
    align-items: center;
  }
  .header > div .menu .close-menu {
    display: none;
  }
  .header > div .menu .menu-wrap {
    width: 100%;
    max-width: 700px;
    height: initial;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header > div .menu .menu-wrap > div {
    justify-content: space-between;
  }
  .header > div .menu .menu-wrap > div a {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
  }
  .header > div .menu .menu-wrap button {
    margin-right: var(--space);
  }
  .header > div .open-menu {
    display: none;
  }
  .header > div .logo {
    width: 350px;
    position: relative;
    left: 0;
    top: 0;
  }
  .header > div .logo a {
    position: absolute;
    top: 30px;
    left: calc(50% - 60px);
  }
  .header > div .logo a img {
    width: 120px;
  }
}
#home {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#home .banner {
  margin-top: -100px;
  min-height: 870px;
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
}
#home .banner .squarebanner {
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: 400px;
  background-color: #ffffffb3;
  z-index: 1;
}
#home .banner .squarebanner .textbanner {
  width: 100%;
  flex-direction: column;
  align-items: right;
  text-align: right;
  z-index: 2;
}
#home .banner .squarebanner .textbanner h1, #home .banner .squarebanner .textbanner h2 {
  margin: 0;
  margin-top: var(--space);
  margin-right: calc(100vw - 90%);
  font-size: 35px;
  font-weight: bold;
  color: var(--orange);
  right: 0;
}
#home .banner .squarebanner .textbanner a {
  margin-right: calc(100vw - 75%);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  cursor: pointer;
}
#home .banner .squarebanner .textbanner a:hover {
  color: #0984e3;
}
#home .wraphome {
  width: 100%;
  align-items: center;
  max-width: 1200px;
  flex-direction: column;
}
#home .wraphome .title h3 {
  margin-top: var(--space);
}
#home .wraphome > a {
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
  margin: var(--space);
}
#home .wraphome > a:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
#home .wraphome > a:active {
  background-color: #d35400;
}
#home .wraphome .graduate {
  flex-direction: column;
}
#home .mec {
  background-color: var(--blue);
  width: 100%;
  height: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .mec > h4 {
  color: var(--white);
  font-size: 22px;
  margin: 10px;
}
#home .mec img {
  width: 70px;
}
#home .news:last-child {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  #home .banner .squarebanner {
    height: 230px;
  }
  #home .banner .squarebanner .textbanner h1, #home .banner .squarebanner .textbanner h2 {
    margin-top: var(--space);
    margin-right: calc(100vw - 75%);
    font-size: 50px;
  }
  #home .banner .squarebanner .textbanner a {
    margin-right: calc(100vw - 75%);
    font-size: 40px;
  }
  #home .wraphome .graduate {
    flex-direction: row;
  }
  #home .mec {
    background-color: var(--blue);
    width: 100%;
    height: 150px;
    flex-direction: row;
  }
  #home .mec > h4 {
    font-size: 40px;
  }
}
#contact {
  width: 100%;
  justify-content: center;
}
#contact > div {
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
}
#contact > div h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
}
#contact > div .wrap-contact {
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-bottom: var(--space);
}
#contact > div .wrap-contact .contact-form {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact > div .wrap-contact .contact-form form {
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 20px;
}
#contact > div .wrap-contact .contact-form form .fields {
  flex-direction: column;
}
#contact > div .wrap-contact .contact-form form .field {
  margin-top: 10px;
  position: relative;
  flex-direction: column;
  width: 100%;
}
#contact > div .wrap-contact .contact-form form .field label input, #contact > div .wrap-contact .contact-form form .field label textarea, #contact > div .wrap-contact .contact-form form .field label select {
  border: var(--black) 1px solid;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: var(--black);
  outline: none;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.5s ease-in-out;
  width: 100%;
  background-color: var(--white);
}
#contact > div .wrap-contact .contact-form form .field label input:focus, #contact > div .wrap-contact .contact-form form .field label textarea:focus, #contact > div .wrap-contact .contact-form form .field label select:focus {
  border-color: var(--orange);
}
#contact > div .wrap-contact .contact-form form .field label input:focus + label, #contact > div .wrap-contact .contact-form form .field label textarea:focus + label, #contact > div .wrap-contact .contact-form form .field label select:focus + label {
  color: var(--orange);
}
#contact > div .wrap-contact .contact-form form button {
  margin-top: 10px;
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}
#contact > div .wrap-contact .contact-form form button:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
#contact > div .wrap-contact .contact-form form button:active {
  background-color: #d35400;
}
#contact > div .wrap-contact .contact-form .channel {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--space);
}
#contact > div .wrap-contact #map {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#contact > div .wrap-contact #map img {
  width: 300px;
  margin: var(--space) 0;
}
#contact > div .wrap-contact #map span {
  font-size: 14px;
}

@media (min-width: 768px) {
  #contact > div .wrap-contact {
    flex-direction: row;
  }
  #contact > div .wrap-contact .contact-form:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.03);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 10px;
    background-color: #ffffff66;
  }
  #contact > div .wrap-contact #map:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.03);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 10px;
    background-color: #ffffff66;
  }
}
#infocourse {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#infocourse .wrapinfo {
  width: 100%;
  align-items: center;
  max-width: 1200px;
  flex-direction: column;
}
#infocourse .wrapinfo > div {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#infocourse .wrapinfo > div .description {
  width: 300px;
  flex-direction: column;
  margin: var(--space);
}
#infocourse .wrapinfo > div .description > h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 0;
}
#infocourse .wrapinfo > div .description span {
  margin: 5px;
}
#infocourse .wrapinfo > div .courseinfo {
  min-width: 400px;
  margin: var(--space);
  flex-direction: column;
  align-items: center;
}
#infocourse .wrapinfo > div .courseinfo > h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 0;
}
#infocourse .wrapinfo > div .courseinfo img {
  width: 270px;
  height: 360px;
}
#infocourse .wrapinfo .wrapbtn {
  justify-content: space-between;
  align-items: center;
}
#infocourse .wrapinfo .wrapbtn .more {
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
  margin: 50px;
}
#infocourse .wrapinfo .wrapbtn .more:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
#infocourse .wrapinfo .wrapbtn .more:active {
  background-color: #d35400;
}
#infocourse .wrapinfo .wrapbtn .rg {
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
  text-transform: initial;
  font-size: 16px;
  background-color: var(--blue);
  margin: 50px;
}
#infocourse .wrapinfo .wrapbtn .rg:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
#infocourse .wrapinfo .wrapbtn .rg:active {
  background-color: #d35400;
}
#infocourse .wrapinfo .wrapbtn .rg:hover {
  background-color: #74b9ff;
  box-shadow: 4px 4px 8px -6px var(--black);
}
#infocourse .wrapinfo .wrapbtn .rg:active {
  background-color: #0984e3;
}

@media (min-width: 1200px) {
  #infocourse .wrapinfo > div {
    flex-direction: row;
  }
  #infocourse .wrapinfo > div .description {
    width: initial;
  }
  #infocourse .wrapinfo > div .courseinfo {
    align-items: flex-end;
  }
}
.footer {
  background-color: #3498DB;
  height: 850px;
  width: 100%;
  justify-content: center;
}
.footer > div {
  flex-direction: column;
  width: 100%;
  max-width: 1366px;
}
.footer > div .wrap-footer {
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 300px;
}
.footer > div .wrap-footer ul {
  flex-direction: column;
  padding: 0;
}
.footer > div .wrap-footer ul li h2 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: bold;
  color: var(--white);
}
.footer > div .wrap-footer ul li a {
  font-size: 24px;
  text-decoration: none;
  color: var(--white);
  margin-top: var(--space);
}
.footer > div .wrap-footer ul li a img {
  width: 25px;
  height: 25px;
}
.footer > div .wrap-footer .wrap-footer-center {
  color: var(--white);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer > div .wrap-footer .wrap-footer-center span {
  font-size: 14px;
}
.footer > div .wrap-footer .wrap-footer-center .logo-footer > img {
  width: 200px;
  justify-content: center;
  align-items: center;
}
.footer > div .wrap-footer .wrap-footer-center .address-footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer > div .wrap-footer .wrap-footer-center .copy-footer {
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .footer {
    max-height: 300px;
    color: var(--white);
  }
  .footer > div {
    flex-direction: row;
  }
  .footer > div .wrap-footer {
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer > div .wrap-footer ul li h2 {
    font-size: 20px;
  }
  .footer > div .wrap-footer ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    margin-top: var(--space);
  }
  .footer > div .wrap-footer ul li a img {
    width: 20px;
    height: 20px;
  }
}
#registration {
  width: 100%;
  justify-content: center;
}
#registration > div {
  width: 100%;
  max-width: 1100px;
  flex-direction: column;
}
#registration > div .wrapform {
  flex-direction: column;
  margin: auto;
  margin-top: var(--space);
  max-width: 300px;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 6px #0000004d;
}
#registration > div .wrapform .title {
  margin: 10px 20px;
}
#registration > div .wrapform .title h3 {
  font-size: 24px;
  margin: 0;
}
#registration > div .wrapform form {
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 20px;
}
#registration > div .wrapform form .fields {
  flex-direction: column;
}
#registration > div .wrapform form .field {
  margin-top: 10px;
  position: relative;
  flex-direction: column;
  width: 100%;
}
#registration > div .wrapform form .field label input,
#registration > div .wrapform form .field label textarea,
#registration > div .wrapform form .field label select {
  border: var(--black) 1px solid;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: var(--black);
  outline: none;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.5s ease-in-out;
  width: 100%;
  background-color: var(--white);
}
#registration > div .wrapform form .field label input:focus,
#registration > div .wrapform form .field label textarea:focus,
#registration > div .wrapform form .field label select:focus {
  border-color: var(--orange);
}
#registration > div .wrapform form .field label input:focus + label,
#registration > div .wrapform form .field label textarea:focus + label,
#registration > div .wrapform form .field label select:focus + label {
  color: var(--orange);
}
#registration > div .wrapform form button {
  margin-top: 10px;
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}
#registration > div .wrapform form button:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
#registration > div .wrapform form button:active {
  background-color: #d35400;
}
#registration > div .wrapform form .lost a {
  margin: 5px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--blue);
  cursor: pointer;
}
#registration > div .wrapform form .lost a:hover {
  color: #0984e3;
}
#registration > div .img {
  align-items: flex-end;
}
#registration > div .img img {
  width: 300px;
  height: 626;
}

@media (min-width: 768px) {
  #registration > div {
    flex-direction: row;
  }
  #registration > div .wrapform {
    margin: 50px;
    max-width: 800px;
  }
  #registration > div .img {
    align-items: flex-end;
  }
  #registration > div .img img {
    width: 400px;
  }
}
#auth {
  width: 100%;
  justify-content: center;
  margin: 40px 0 0 0;
}
#auth > div {
  width: 100%;
  max-width: 1100px;
  flex-direction: row;
}
#auth > div .wrapform {
  flex-direction: column;
  margin: auto;
  margin-top: var(--space);
  max-width: 300px;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 6px #0000004d;
}
#auth > div .wrapform .title {
  margin: 10px 20px;
}
#auth > div .wrapform .title h3 {
  font-size: 24px;
  margin: 0;
}
#auth > div .wrapform form {
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 20px;
}
#auth > div .wrapform form .fields {
  flex-direction: column;
}
#auth > div .wrapform form .field {
  margin-top: 10px;
  position: relative;
  flex-direction: column;
  width: 100%;
}
#auth > div .wrapform form .field label input,
#auth > div .wrapform form .field label textarea,
#auth > div .wrapform form .field label select {
  border: var(--black) 1px solid;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: var(--black);
  outline: none;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.5s ease-in-out;
  width: 100%;
  background-color: var(--white);
}
#auth > div .wrapform form .field label input:focus,
#auth > div .wrapform form .field label textarea:focus,
#auth > div .wrapform form .field label select:focus {
  border-color: var(--orange);
}
#auth > div .wrapform form .field label input:focus + label,
#auth > div .wrapform form .field label textarea:focus + label,
#auth > div .wrapform form .field label select:focus + label {
  color: var(--orange);
}
#auth > div .wrapform form button {
  margin-top: 10px;
  height: 40px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 4px 4px 8px -5px var(--black);
  padding: 0 var(--space);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}
#auth > div .wrapform form button:hover {
  background-color: #f39c12;
  color: var(--white);
  box-shadow: 4px 4px 8px -6px var(--black);
}
#auth > div .wrapform form button:active {
  background-color: #d35400;
}
#auth > div .wrapform form .lost a {
  margin: 5px 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--blue);
  cursor: pointer;
}
#auth > div .wrapform form .lost a:hover {
  color: #0984e3;
}
#auth > div .img {
  align-items: flex-end;
}
#auth > div .img img {
  width: 300px;
  height: 626;
}

@media (min-width: 768px) {
  #registration > div {
    flex-direction: row;
  }
  #registration > div .wrapform {
    margin: 50px;
    max-width: 800px;
  }
  #registration > div .img {
    align-items: flex-end;
  }
  #registration > div .img img {
    width: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
