:root {
    --bg-gray: #E6E6E6;
    --white: #fff;
    --orange: #E67E22;
    --blue: #3498DB;
    --black: #000;
    --menu-gray: #6b6b6be1;
    --menu-gray-hover: #ccccccee;

    --space: 20px;
    --border-radius: 5px;
    --border-cards: 10px;
}